workspace "1"
workspace "web"

window-rule {
  match app-id="brave-browser"
  match app-id="librewolf"
  open-on-workspace "web";
}

// open floating
window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  match app-id="pavucontrol"
  match app-id="io.ente.auth"
  match app-id="xdg-desktop-portal.*"
  open-floating true
}

// block out two password managers from screen capture.
window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#
  block-out-from "screen-capture"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}
